.dash-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.dash-navbar-brand {
    font-size: 1.2rem;
    font-weight: bold;
}

.dash-nav-content {
    display: flex;
    align-items: center;
    gap: 15px;
    transition: max-height 0.3s ease;
}

.dash-brand-logo {
    height: 30px;
    width: auto;
}

.dash-nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.dash-nav-item {
    margin-left: 0;
    color: #fff;
    cursor: pointer;
    font-size: 0.8rem;
}

.dash-user-profile {
    display: flex;
    align-items: center;
    gap: 5px;
}

.dash-user-name {
    color: #1F1F2A;
    font-size: 0.8rem;
}

.dash-user-avatar {
    width: 30px;
    height: 30px;
    background: #ccc;
    border-radius: 8px;
}

.dash-notification {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background: transparent;
    border: 1px solid rgba(235, 235, 235, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.dash-search-bar {
    position: relative;
    flex-grow: 1;
    margin-left: 50px;
    max-width: 400px;
    height: 30px;
    border-radius: 8px;
    background: transparent;
    border: 1px solid rgba(235, 235, 235, 1);
    display: flex;
    align-items: center;
}

.dash-search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 0 35px 0 10px;
    font-size: 14px;
    color: rgba(107, 116, 131, 1);
    background: transparent;
}

.search-icon {
    position: absolute;
    right: 10px;
    width: 16px;
    height: 16px;
}


@media screen and (max-width: 768px) {
    .hamburger-menu {
        display: flex;
        position: fixed;
        z-index: 1000;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        padding: 5px;
    }

    .hamburger-line {
        width: 100%;
        height: 3px;
        background-color: #ffffff;
        border-radius: 2px;
        transition: all 0.3s ease;
    }

    .dash-navbar-brand {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 30px
    }
}